[Unit]
Description=Qualcomm remote filesystem service (modem EFS)
After=local-fs.target
Before=ModemManager.service

[Service]
ExecStart=/usr/bin/rmtfs -r -P -s
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
